<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password" />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr />

<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid':  nameInput4.invalid
  }"
  />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<h1>Class % Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar" />
  </div>
</div>
<hr>

<h1>*ngFor Arrays estilos</h1>
<div class="people--grid">
  <div *ngFor="let people of peopleArray">
    <img [src]="people.image" alt="image">
    <h2>{{people.firstname}}</h2>
    <h2>{{people.lastname}}</h2>
    <h2>{{people.age}}</h2>
    <h3>{{people.sexo}}</h3>
  </div>
</div>

<hr>
<h1>*ngSwitch y *ngSwitchCase </h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Oscar'">
      El nombre el oscar
  </p>
  <p *ngSwitchCase="'julian'">
      El color el Verde
  </p>
  <p *ngSwitchCase="'camilo'">
      El color el Rojo
  </p>
  <p *ngSwitchDefault>
      No hay ningún color
  </p>
</div>
<hr>

<h1>*ngFor Arrays</h1>
<div *ngFor="let people of peopleArray">
  <img width = "250" [src]="people.image" alt="image">
  <h2>{{people.firstname}}</h2>
  <h2>{{people.lastname}}</h2>
  <h2>{{people.age}}</h2>
  <h3>{{people.sexo}}</h3>
</div>
<hr>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No existen nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i  + 1 }} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'nicolas'">Soy nicolas</p>
<p *ngIf="person.name === 'pedro' && person.age === 18; else elseBlock">Soy pedro</p>
<ng-template #elseBlock>
  <p>bloque de else</p>
</ng-template>
<input type="number" max="20" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>

<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Nombre {{ person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>
<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{person.age}}</p>
<button (click)="addAge()">Age ++</button>
<div class="box" (scroll)="onSroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil optio perferendis incidunt nam beatae fugiat! Nemo omnis molestiae illo fuga amet mollitia, necessitatibus officiis fugiat id. Quisquam, dolore! Esse, voluptatem!</p>
</div>
<p>Nombre {{ person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>

<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar2</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img" >
<hr/>

<h1>Propiedades2</h1>
<button [disabled]="btnDisable">Enviar3</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" >
<hr/>

<h1>Hola mundo</h1>
<h2>{{'hola mundo'.repeat(5)}}</h2>
<p>3+3 = {{ 3 + 3}}</p>
<h3>Hola, soy {{name}} y mi edad es {{age}}</h3>
<img width="100" src="{{img}}" alt="imagen">
